{% extends "base.html" %}
{% block menu_admin %}
    <li class="nav-item">
        <a  class="nav-link" href="{% url 'admin/list_of_import_in_database' %}">
            List of imports
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin/user_list' %}">
            List of users
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin/list_of_rule' %}">
            Manage import rule
        </a>
    </li>
{% endblock %}