{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block content %}

  <div class="container">
    <div id="app" data-moleculeid="{{ request.GET.id }}" data-data-dir="{{ data_dir }}" data-base-url="{{ site_url }}"></div>
  </div>
{% endblock %}
{% block footer %}

  {{ block.super }}
  {#	<script src="{% static "js/details.js" %}"></script>#}
{#  <script type="text/javascript" src="{% static "js/jsmol/js/JSmol.full.nojq.js" %}"></script>#}

  {% render_bundle 'details' %}
{% endblock %}
