{% extends "base.html" %}
{% load static %}
{% block content %}
  {% if results|length >= 1 %}
  <!-- Page de résultat de recherche -->
    <!-- Affichage du nombre de résultat et valeur de la recherche - Test si le nombre est >1 pour accorder en nombre le texte -->
    <div class="row">
      <h2 id="result-title">{{ results.nbresult }} result{% if results.nbresult > 1 %}s{% endif %} for <strong>{{ query_form.search.value }}</strong>.</h2>
    </div>
    <div class="row">
      <div class="col tablet-center">
      </div>
      <!-- Pagination et gestion du nombre de page
        ATTENTION LA GESION DU NOMBRE DE RESULTAT N'EST PAS ENCORE GEREE
      -->
      <div id="pagination-2" class="col">
        <i id="" class="fa fa-angle-left btn-previous" style="font-size:24px"></i>
               <span class="content_btn_page"></span>
        <i id="" class="fa fa-angle-right btn-next" style="font-size:24px"></i>
      </div>
      <div class="col text-right mobile-center">
        <div class="dropdown">
        {% if request.GET.nbrpp %}
            <span>Results per page : {{ request.GET.nbrpp }}</span>
        {% else %}
            <span>Results per page : 10</span>
        {% endif %}
          <i class="fa fa-angle-down" data-toggle="dropdown" style="font-size:24px"></i>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% if not request.get.nbrpp %}{% url 'query' %}?{{ request.GET.urlencode }}&nbrpp=10" {%else%}{{ request.get.nbrpp }} = {{ 10 }}{% endif %}>10</a>
            <a class="dropdown-item" href="{% if not request.get.nbrpp %}{% url 'query' %}?{{ request.GET.urlencode }}&nbrpp=20" {%else%}{{ request.get.nbrpp }} = {{ 20 }}{% endif %}>20</a>
            <a class="dropdown-item" href="{% if not request.get.nbrpp %}{% url 'query' %}?{{ request.GET.urlencode }}&nbrpp=50" {%else%}{{ request.get.nbrpp }} = {{ 50 }}{% endif %}>50</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Partie d'affichage de tous les résultats de la recherche
      On fait une boucle sur tous les résultats en associant leur valeur à une clé unique
   -->
      {% for key, value in results.items %}
      {% if key != 'nbresult' %}
      <div id="list-query-group" class="list-group">
        <div>
          <div>
            <!-- Séparation de l'affichage d'un résultat en trois colonnes
                AFFICHAGE DU SMILES | CALCUL ASSOCIES DISPONIBLE | DETAILS
              -->
            <div class="row">
              <div class="col-lg-3">
                <!-- smiles drawer -->
                <a href="./details?id={{value.0.id_log}}" class="">
                  <canvas id="{{ value.0.id_log }}">
                    Sorry, your browser doesn't support the &lt;canvas&gt; element.
                  </canvas>
                  {% if value.0.cansmiles %}
                     <script>
                         draw_canvas("{{ value.0.id_log }}", "{{ value.0.cansmiles }}")
                     </script>
                  {% endif %}
                </a>
              </div>
              <div class="col-lg-8">
              <!-- Partie détails séparés en deux parties,
                ATTENTION - POUR CHAQUES VALEURS ON TEST SI LA VALEUR EST NULL ALORS ON AFFICHE Unknown
             -->
                <div id="inchi_smiles_cid" class="row">
                <!-- En fonction du critère de recherche rajouter InChi ou CID ou cansmiles -->
                  <div class="container row">
                    <div id="molecule_{{ value.0.id_log }}" class="col molecule_name">
                      {% if query_form.typeQuery.value ==  "InChi" %}<div id="inchi_{{ value.0.id_log }}"><<span class="text-muted">>InChi: </span><span>{% if value.0.InChi != "Null" or value.0.InChi == 0 %}{{ value.0.InChi }}{% else %}Unknown{% endif %}</span></div>{% endif %}
                      {% if query_form.typeQuery.value ==  "SMILES" %}<div><<span class="text-muted">>Canonical smiles: </span><span>{% if value.0.cansmiles != "Null" or value.0.cansmiles == 0 %}{{ value.0.cansmiles }}{% else %}Unknown{% endif %}</span></div>{% endif %}
                      {% if query_form.typeQuery.value ==  "CID" %}<div><<span class="text-muted">>CID: </span><span>{% if value.0.cid != "Null" or value.0.cid == 0 %}{{ value.0.cid }}{% else %}Unknown{% endif %}</span></div>{% endif %}
                    </div>
                  </div>
                </div>
                <div id="query_details" class="row">
                  <div class="container row">
                    <div class="col-lg-4">
                      <!-- Formule -->
                      <a href="./details?id={{value.0.id_log}}" class="formula">
                          <span class="">Formula: </span>{% if value.0.formula != "Null" %}<b>{{value.0.formula}}</b>{% else%}Unknown{% endif %}
                      </a>
                    </div>
                      {% if value.0.iupac != "Null" %}
                          <div class="col-lg-8">
                              <!-- Iupac -->
                              <a href="./details?id={{value.0.id_log}}" class="">
                                  <b>IUPAC : {{value.0.iupac}}</b>
                              </a>
                          </div>
                      {% endif %}
                  </div>
                <div class="container row">
                    <div class="col-lg-4">
                        <!-- Job Types -->
                        <a href="./details?id={{value.0.id_log}}" class="">
                            <span class=""> Job Type: </span>{% if value.0.job_type != "Null"%}<b>{{ value.0.job_type.0 }}</b>{%else %}Unknown{% endif %}
                        </a>
                      </div>
                    <div class="col-lg-8">
                        <!-- Software - on affiche que le nom du software -->
                      <span class="text-muted">Software: </span>{% if value.0.software != "Null" or value.0.software == 0 %}{{ value.0.software }}{% else %}Unknown{% endif %}
                    </div>
                </div>
                  <div class="container row">
                    <div class="col-lg-4">
                      <!-- Charge -->
                        <span class="text-muted">Charge: </span>{% if value.0.charge != "Null" or value.0.charge == 0 %}{{ value.0.charge }}{% else %}Unknown{% endif %}
                    </div>
                    <div class="col-lg-8">
                      {% if value.0.basis_set_name != "Null" or value.0.basis_set_name == 0 %}<span class="text-muted">Basis set name: </span>{{ value.0.basis_set_name }}{% else %}<span class="text-muted">Basis set size: </span> {% if value.0.basis_set_size != "Null" or value.0.basis_set_size == 0 %}{{ value.0.basis_set_size }} functions{% else %}Unknown{% endif %}{% endif %}
                     </div>
                  </div>
                  <div class="container row">
                    <div class="col-lg-4">
                      <!-- Multiplicité -->
                      <span class="text-muted">Multiplicity: </span>{% if value.0.multiplicity != "Null" or value.0.multiplicity == 0 %}{{ value.0.multiplicity }}{% else %}Unknown{% endif %}
                    </div>
                    <div class="col-lg-8">
                      <!-- Théorie du calcul
                        Si la théorie est DFT on affiche seulement la fonction sinon on affiche la théorie/fonction
                        On ajoute Le Basis set name (et sa valeur)
                     -->
                      <span class="text-muted">Series: </span>{% if value.0.theory == "DFT" %}{{ value.0.functionnal }}{% else %}{{ value.0.theory }}/{{ value.0.functionnal }}{% endif %}
                    </div>
                  </div>
                  <div class="container row">
                    <div class="col-lg-4">
                      <!-- Solvent et méthode
                        Si le solvent est différent de gas on affichage aussi la méthode de solvatation
                      -->
                      <span class="text-muted">Solvent: </span>{% if value.0.solvent != "Null" or value.0.solvent == 0 %}{{ value.0.solvent }}{% else %}Unknown{% endif %}
                      {% if value.0.solvent != "Gas" %} / <span class="text-muted">Solvatation method: </span>{% if value.0.solvatation_method != "Null" or value.0.solvatation_method == 0 %}{{ value.0.solvatation_method }}{% else %}Unknown{% endif %}{% else %}{% endif %}
                    </div>
                    <div class="col-lg-8">
                      <!-- Ending Energy -->
                      <span class="text-muted">Ending energy: </span>{% if value.0.ending_energy != "Null" or value.0.ending_energy == 0 %}{{ value.0.ending_energy|floatformat:"7" }} a.u. {% else %}Unknown{% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <!-- Pagination et gestion du nombre de page -->
      <div id="pagination">
        <i class="fa fa-angle-left btn-previous" style="font-size:24px"></i>
        <span class="content_btn_page"></span>
        <i class="fa fa-angle-right btn-next" style="font-size:24px"></i>
      </div>

      {% else %}
      <!-- Gestion de la page s'il n'y a pas de résultats pour la recherche -->
      <div class='container' style='margin-top:50px;'>
        <div class="row row404">
          <h1>We couldn't find any molecule matching your search.</h1>
        </div>
        <div class="row row404">
          {% load static %}
          <div class="col-xs-4 "><img src="{% static "media/confused_scientist.png" %}" style="height:300px;"></div>
          <div class="col-xs-4"><img src="{% static "media/molecule.png" %}" style="height:300px;"></div>
        </div>
      </div>
  {% endif %}
    <script>
    page_result({{results.nbresult}})
    </script>
{% endblock %}
