{% load static %}
<!-- Page de base pour tout le site sauf la page d'accueil
     Incluant notamment le header avec titre et formulaire
   -->
{# block used as header #}
{% block header %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Chargement du CSS, bootstrap, javascript et jQuery -->
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% bootstrap_messages %}

  <title>QuChemPedIA</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "css/general.css" %}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
  <script src="{% static "js/smiles-drawer.js" %}"></script>
</head>
{% endblock %}
<body>

{% block nav %}
<!-- Barre de navigation header contenant formulaire et titre pour retour sur la page d'accueil -->
<nav class="border border-secondary border-right-0 border-left-0 navbar navbar-togleable-md navbar-expand-sm navbar-dark sticky-top">
  <a id="title" class="navbar-brand" href="/QuChemPedIA/">
    <!-- potention logo -->
    <img class="img-responsive" src="{% static "" %}" alt="" style="width:150px;">
    QuChemPedIA
  </a>
  <!-- formulaire de recherche -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <form class="form-inline" action="{% url 'query' %}" method="GET">
      {% csrf_token %}
      {{ query_form.as_table }}
      <button id="button-search" class="btn btn-success default-primary-color" type="submit">Search <i class="fa fa-search"></i></button>
    </form>
  </div>

</nav>
          <div  id="sign" class="row float-right">
                <!-- Bouton login-->
                  {% if not user.is_authenticated %}
                    <div id="sign" class="col col-perso" align=right>
                        <form method="get" action="{% url 'auth' %}">
                          <button id="button-login" type="submit" class="btn btn-info default-primary-color">
                            Sign In&nbsp;/&nbsp;Sign Up
                          </button>
                        </form>
                    </div>
                  {% else %}
                      <!-- Bouton Request calcul-->
                          <button id="button-calcul" class="btn btn-info default-primary-color" >
                            Calcul request
                          </button>

                        <form method="POST" action="{% url 'dashboard' %}">
                            {% csrf_token %}
                          <button id="button-dashboard" type="submit" class="btn btn-info default-primary-color">
                            Dashboard
                          </button>
                        </form>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                      <button id="" type="submit" class="btn btn-info default-primary-color">
                        Sign out
                      </button>
                    </form>
                  {% endif %}
                </div>
{% endblock %}

{% block content %}
{% endblock %}

{# block used for footer #}
{% block footer%}
        <footer>

        </footer>
    </body>
</html>
{%  endblock %}
