{% load static %}

{# block used as header #}
{% block header %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Chargement du CSS-->
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% bootstrap_messages %}

  <title>QuChemPedIA</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "css/general.css" %}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
  <script src="{% static "js/smiles-drawer.js" %}"></script>
</head>
{% endblock %}
<body>

{% block nav %}
<nav class="border border-secondary border-right-0 border-left-0 navbar navbar-togleable-md navbar-expand-sm navbar-dark sticky-top">
  <a id="title" class="navbar-brand" href="/QuChemPedIA/">
    <img class="img-responsive" src="{% static "" %}" alt="" style="width:150px;">
    QuChemPedIA
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
    <!-- pour les items de navigation -->
    </ul>
    <form class="form-inline" action="{% url 'query' %}" method="GET">
      {% csrf_token %}
      {{ query_form.as_table }}
      <button id="button-search" class="btn btn-success default-primary-color" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

{# block used for footer #}
{% block footer%}
        <footer>

        </footer>
    </body>
</html>
{%  endblock %}
