{% load static %}
<!-- Page de base pour tout le site sauf la page d'accueil
     Incluant notamment le header avec titre et formulaire
   -->
{# block used as header #}
{% block header %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Chargement du CSS, bootstrap, javascript et jQuery -->
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% bootstrap_messages %}

  <title>QuChemPedIA</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "css/general.css" %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
  <script src="{% static "js/smiles-drawer.js" %}"></script>
</head>
{% endblock %}
<body>

{% block nav %}
<!-- Barre de navigation header contenant formulaire et titre pour retour sur la page d'accueil -->
<nav class="border border-secondary border-right-0 border-left-0 navbar navbar-togleable-md navbar-expand-sm navbar-dark sticky-top">
  <a id="title" class="navbar-brand" href="/">
    <!-- potention logo -->
    <img class="img-responsive" src="{% static "" %}" alt="" style="width:150px;">
    QuChemPedIA
  </a>
  <!-- formulaire de recherche -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <form class="form-inline" action="{% url 'query' %}" method="GET">
      {% csrf_token %}
      {{ query_form.as_table }}
      <button id="button-search" class="btn btn-success default-primary-color" type="submit">Search <i class="fa fa-search"></i></button>
    </form>
  </div>

</nav>
   <div  id="sign" class="row float-right">
                <!-- Bouton login-->
                  {% if not user.is_authenticated %}
                    <div id="sign" class="col col-perso" align=right>
                        <form method="get" action="{% url 'auth' %}">
                          <button id="button-login" type="submit" class="btn btn-info default-primary-color pull-right">
                            Sign In&nbsp;/&nbsp;Sign Up
                          </button>
                        </form>
                    </div>
                  {% else %}
                      <!-- Bouton Request calcul-->
                          <button id="button-calcul" class="btn btn-info default-primary-color" >
                            Calcul request
                          </button>
                        {%  if user.is_admin %}
                            <form method="POST" action="{% url 'admin' %}">
                             {% csrf_token %}
                              <button id="button-admin" type="submit" class="btn btn-info default-primary-color ">
                                admin
                              </button>
                            </form>
                        {% endif %}
                        <form method="POST" action="{% url 'dashboard' %}">
                            {% csrf_token %}
                          <button id="button-dashboard" type="submit" class="btn btn-info default-primary-color">
                            My profile
                          </button>
                        </form>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                      <button id="" type="submit" class="btn btn-info default-primary-color">
                        Sign out
                      </button>
                    </form>
                  {% endif %}
                </div>
    <div class="container">
      <div class="row">
       {% if user.is_authenticated %}
        <nav class="col-md-2 sidebar">
          <div class="sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Menu</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin/user_list' %}">
                    <svg class="feather feather-users sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="1266">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                    List of all users
                </a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin/list_of_import_in_database' %}">
                   <svg class="feather feather-upload sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="1236">
                       <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                       <polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line>
                   </svg>
                  List of import in database
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin/list_of_rule' %}">
                    <svg class="feather feather-settings sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="1016">
                        <circle cx="12" cy="12" r="3"></circle>
                        <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                    </svg>
                    Manage your import
                </a>
              </li>
            </ul>
          </div>
        </nav>
        {% endif %}
{% endblock %}

{% block content %}
{% endblock %}

{# block used for footer #}
{% block footer%}
        <footer>

        </footer>
    </body>
</html>
{%  endblock %}
