Django==2.0.5
django-bootstrap4==0.0.6
djangorestframework==3.8.2
elasticsearch==6.2.0
elasticsearch-dsl==6.1.0
ipaddress==1.0.22
Pillow==5.1.0
psycopg2-binary==2.7.4
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
urllib3==1.22
