.icon{
  float:right;
  margin-left:250px;
  color:gray;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}
.button-menu
{
    margin-right:auto;
    margin-right: 20px;
}

li a {
    color: black;
}

.log{

    color:gray;
    font-weight:bold;
    margin-right:10px;

}

.iconLog{
    color:gray;
    margin-right:20px;
    font-size: 1.5em;
}