{% load static %}

{# block used as header #}
{% block header %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Chargement du CSS, bootstrap4, javascript et jQuery-->
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% bootstrap_messages %}

  <title>QuChemPedIA</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/general.css" %}">
  <script src="{% static "js/dropzone.js" %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
  <script>
  /* Options perso de dropzone voir dropzone.js
   *
  */
    Dropzone.options.myDropzone = {
      url: 'file:///home/etudiant/projet-chimie/Origin/QuChemPedIA/QuChemPedIAProjectElastic/QuChemPedIA/static/',
      autoProcessQueue: true,
      dictDefaultMessage: "Drop your log files here or click to upload",
      acceptedFiles: '.log',
      dictInvalidFileType: "You can't upload files of this type. Please upload a file with '.log' extension",
      addRemoveLinks: true,
    };
  </script>
</head>
{% endblock %}


{% block content %}
<div class="container" >
  <div class="row">
    <div class="Absolute-Center is-Responsive ">
      <h1 class="display-2 text-center text-primary">QuChemPedIA</h1>
      <h2 id="subtitle" class="diplay-2 text-center">Quantum Chemistry Collaborative EncyclopedIA</h2>
      <br/>
      <div id="form-accueil">
        <!-- Formulaire de recherche -->
        <form class="form-inline" action="{% url 'query' %}" method="GET" >
            {% csrf_token %}
            {{ query_form.as_table }}
            <button id="button-search" class="btn btn-success default-primary-color" type="submit">Search <i class="fa fa-search"></i></button>
        </form>
      </div>
      <div>
        <!-- Génération de la dropzone -->
        <form id="myDropzone" action="/upload" class="dropzone text-center">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
      </div>
      <div>
        <!-- Bouton login -->
      </div>
      <div>
        <!-- Request calcul -->
      </div>
    </div>
  </div>
</div>
<footer>
  <!-- Génération de la navbar pour footer -->
  <nav class="navbar navbar-expand-sm fixed-bottom">
    <div class="footer">
      <a class="link-footer" href=""><u>Project</u></a>
      <a class="link-footer" href=""><u>Team</u></a>
      <a class="link-footer" href=""><u>Terms</u></a>
    </div>
  </nav>
</footer>
<script>
/* Script de rendu pour le formulaire de recherche */
  $(document).ready(function(){
      $("#id_search").attr("placeholder","Search...");
      $("#id_typeQuery").css("width","15%");
  });
</script>
{% endblock %}
