{% load static %}

{# block used as header #}
{% block header %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Chargement du CSS, bootstrap4, javascript et jQuery-->
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% bootstrap_messages %}

  <title>QuChemPedIA</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/general.css" %}">
  <script src="{% static "js/dropzone.js" %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
  <script>
  /* Options perso de dropzone voir dropzone.js
   *
  */
    Dropzone.options.myDropzone = {
      url: 'file:///home/etudiant/projet-chimie/Origin/QuChemPedIA/QuChemPedIAProjectElastic/QuChemPedIA/static/',
      autoProcessQueue: true,
      dictDefaultMessage: "Drop your log files here or click to upload",
      acceptedFiles: '.log',
      dictInvalidFileType: "You can't upload files of this type. Please upload a file with '.log' extension",
      addRemoveLinks: true,
    };
  </script>
</head>
{% endblock %}


{% block content %}
<div class="container" >
  <div class="Absolute-Center is-Responsive ">
    <h1 class="display-2 text-center text-primary">QuChemPedIA</h1>
    <h2 id="subtitle" class="diplay-2 text-center">Quantum Chemistry Collaborative EncyclopedIA</h2>
    <br/>
    <div id="form-accueil">
      <!-- Formulaire de recherche -->
      <form class="form-inline" action="{% url 'query' %}" method="GET" >
          {% csrf_token %}
          {{ query_form.as_table }}
          <button id="button-search" class="btn btn-info default-primary-color" type="submit">Search <i class="fa fa-search"></i></button>
      </form>
    </div>
    <div id="div-dropzone">
      <!-- Génération de la dropzone -->
      <form id="myDropzone" action="/upload" class="dropzone text-center">
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form>
    </div>
    <div align=center>
      <div id="div-buttons" class="row">
        <!-- Bouton Request calcul-->
        <div class="col" align=right>
          <button id="button-calcul" class="btn btn-info default-primary-color" data-toggle="modal" data-target="#calculModal">
            Calcul request
          </button>
          <div id="calculModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Calcul request</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  THIS IS NOT IMPLEMENTED YET
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <!-- Bouton login-->
            <div class="col col-perso" align=right>
              <button id="button-login" type="button" class="btn btn-info default-primary-color" data-toggle="modal" data-target="#loginModal">
                Login
              </button>
              <div id="loginModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <form action="">
                      <div class="modal-header">
                        <h4 class="modal-title">Login</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="form-inline">
                          <label for="email">Email:</label>
                          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="form-inline">
                          <label for="pwd">Password:</label>
                          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="form-inline form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember"> Remember me
                          </label>
                        </div>
                        <button id="button-submit" type="button" class="btn btn-info default-primary-color">Login</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Bouton sign in-->
            <div class="col col-perso" align=left>
              <button id="button-signin" type="button" class="btn btn-info default-primary-color" data-toggle="modal" data-target="#signinModal">
                Sign in
              </button>
              <div id="signinModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <form action="">
                      <div class="modal-header">
                        <h4 class="modal-title">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="form-inline">
                          <label for="email">Email:</label>
                          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="form-inline">
                          <label for="pwd">Password:</label>
                          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                        </div>
                        <div class="form-inline">
                          <label for="pwd">Confirm password:</label>
                          <input type="password" class="form-control" id="conf-pwd" placeholder="Confirm password" name="pswd">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button id="button-submit" type="button" class="btn btn-info default-primary-color">Sign in</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <!-- Génération de la navbar pour footer -->
  <nav class="navbar navbar-expand-sm fixed-bottom">
    <div class="footer">
      <a class="link-footer" href=""><u>Project</u></a>
      <a class="link-footer" href=""><u>Team</u></a>
      <a class="link-footer" href=""><u>Terms</u></a>
    </div>
  </nav>
</footer>
<script>
/* Script de rendu pour le formulaire de recherche */
  $(document).ready(function(){
      $("#id_search").attr("placeholder","Search...");
      $("#id_typeQuery").css("width","15%");
  });
</script>
{% endblock %}
