{% extends "base.html" %}
{% block content %}
    <div class="container vertical-center" >
            <div class="row" id="content_sign_in_up">
                <div class="col col-lg-6" id="form_sign_in">
                    <form method="POST" action={% url 'auth' %}>
                        <h4 >Sign In</h4>
                        {% if error_login %}
                            <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
                        {% endif %}
                        {% if user.is_authenticated %}
                            Vous êtes connecté, {{ user.username }} !
                        {% else %}
                                {% csrf_token %}
                                {% for field in login_form.visible_fields %}
                                    <div class="row form-group">
                                        <div class="col-lg-4">
                                            {{ field.label_tag }}
                                        </div>
                                        <div class="col-lg-7">
                                          {{ field }}
                                          {{ field.help_text }}
                                        </div>
                                    </div>
                                {% endfor %}
                            <button class="btn btn-success default-primary-color" name="btn-login" type="submit">Sign In</button>
                        {% endif %}
                    </form>
                </div>
            <div class="col col-lg-6">
                <form method="POST" action={% url 'auth' %}>
                    <h4>Sign Up</h4>
                    {% if user.is_authenticated %}
                        Vous êtes connecté, {{ user.username }} !
                    {% else %}
                        {% csrf_token %}
                        {% for field in register_form.visible_fields %}
                            <div class="row form-group">
                                <div class="col-lg-12 text-danger error_fields">
                                  {{ field.errors | safe }}
                                </div>
                                <div class="col-lg-4">
                                    {{ field.label_tag }}
                                </div>
                                <div class="col-lg-7">
                                  {{ field }}
                                  {{ field.help_text }}
                                </div>
                            </div>
                        {% endfor %}
                        <button class="btn btn-success default-primary-color" name="btn-register" type="submit">Sign Up</button>
                    {% endif %}
                </form>
            </div>
        </div>
            <button id="connect-orcid-button" onclick="openORCID()"><img id="orcid-id-icon" src="https://orcid.org/sites/default/files/images/orcid_24x24.png" width="24" height="24" alt="ORCID iD icon"/>Register or Connect your ORCID iD</button>
    </div>
<script type=text/javascript>
    var oauthWindow;
    function openORCID() {
        var oauthWindow = window.open("https://sandbox.orcid.org/oauth/authorize?client_id=0000-0002-1223-3173&response_type=code&scope=/authenticate&show_login=false&redirect_uri=http://127.0.0.1:8000/QuChemPedIA/", "_blank", "toolbar=no, scrollbars=yes, width=500, height=600, top=500, left=500");
    }
</script>
{% endblock %}
