{% extends "base.html" %}
{% block content %}
{% comment %}
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="card mt-3">
				<div class="card-header">
					<h5>Authorship</h5>
				</div>
				<ul class="list-group list-group-flush">
					{% if results.metadata.log_file %} <li class="list-group-item"><b>Original log file :</b> {{ results.metadata.log_file }}</li> {% endif %}
					{% if results.metadata.primary_author %} <li class="list-group-item"><b>Primary author :</b> {{ results.metadata.primary_author }}</li> {% endif %}
					{% if results.metadata.primary_author_affiliation %} <li class="list-group-item"><b>Affiliation :</b> {{ results.metadata.primary_author_affiliation }}</li> {% endif %}
				</ul>
			</div>
			<div class="card mt-3">
				<div class="card-header">
					<h5>Molecule</h5>
				</div>
				<ul class="list-group list-group-flush">
					{% if cid %} <li class="list-group-item"><b>CID :</b> {{ cid }}</li> {% endif %}
					{% if results.molecule.iupac %} <li class="list-group-item"><b>Iupac :</b> {{ results.molecule.iupac }}</li> {% endif %}
					{% if results.molecule.inchi %} <li class="list-group-item"><b>InChI :</b> {{ results.molecule.inchi }}</li> {% endif %}
					{% if results.molecule.can %} <li class="list-group-item"><b>CanSMILES :</b> {{ results.molecule.can }}</li> {% endif %}
					{% if results.molecule.monoisotopic_mass %} <li class="list-group-item"><b>Monoisotopic mass :</b> {{ results.molecule.monoisotopic_mass }} Da</li> {% endif %}
					{% if results.molecule.formula %} <li class="list-group-item"><b>Formula :</b> {{ results.molecule.formula }}</li> {% endif %}
					{% if results.molecule.charge or results.molecule.charge == 0 %} <li class="list-group-item"><b>Charge :</b> {{ results.molecule.charge }}</li> {% endif %}
					{% if results.molecule.multiplicity or results.molecule.charge == 0 %} <li class="list-group-item"><b>Spin multiplicity :</b> {{ results.molecule.multiplicity }}</li> {% endif %}
				</ul>
			</div>
		</div>
		<div class="col-lg-offset-1 col-lg-5">

		</div>
	</div>


	{% if results.comp_details %}
		<div id="computationalDetails">
			<div class="card mt-3">
				<div class="card-header">
					<h5>Computational details</h5>
				</div>
				<div class="container">
					{% if results.comp_details.general.package %} <div class="row"><div class="col"><b>Software </b></div><div class="col"> {{ results.comp_details.general.package }} {% if results.comp_details.general.package_version %} ({{results.comp_details.general.package_version}}) {% endif %}</div></div> {% endif %}
					{% if results.comp_details.general.last_theory %} <div class="row"><div class="col"><b>Computational method </b></div><div class="col"> {{ results.comp_details.general.last_theory }}</div></div> {% endif %}
					{% if results.comp_details.general.functional %} <div class="row"><div class="col"><b>Functional </b></div><div class="col"> {{ results.comp_details.general.functional }}</div></div> {% endif %}
					{% if results.comp_details.general.basis_set_name %} <div class="row"><div class="col"><b>Basis set name </b></div><div class="col"> {{ results.comp_details.general.basis_set_name }}</div></div> {% endif %}
					{% if results.comp_details.general.basis_set_size %} <div class="row"><div class="col"><b>Number of basis set functions </b></div><div class="col"> {{ results.comp_details.general.basis_set_size }}</div></div> {% endif %}
					{% if results.comp_details.general.is_closed_shell %} <div class="row"><div class="col"><b>Closed shell calculation </b></div><div class="col"> {{ results.comp_details.general.is_closed_shell }}</div></div> {% endif %}
					<!-- {% if results.comp_details.general.scf_targets %} <div class="row"><div class="col"><b>Requested SCF convergence on density </b></div><div class="col"> {{ results.comp_details.general.scf_targets }}</div></div> {% endif %} -->
					<div class="row"><div class="col"><b>Requested SCF convergence on density </b></div><div class="col"> XXXXX </div></div>
					<div class="row"><div class="col"><b>Threshold on Maximum and RMS Force </b></div><div class="col"> XXXXX </div></div>

				</div>
			</div>
		</div>
	{% endif %}



	{% if results.results %}
		<div id="computationalDetails">
			<div class="card mt-3">
				<div class="card-header">
					<h5>Results</h5>
				</div>
					{% if results.results.wavefunction %}
						<div class="container">
							<h5 class="card-title">Wavefunction</h5>
							{% if results.results.wavefunction.total_molecular_energy %} <div class="row"><div class="col"><b>Total molecular energy </b></div><div class="col"> {{ results.results.wavefunction.total_molecular_energy }}</div></div> {% endif %}
							{% if results.results.wavefunction.MO_number %} <div class="row"><div class="col"><b>HOMO number </b></div><div class="col"> {{ results.results.wavefunction.MO_number }}</div></div> {% endif %}

							<!--
							{% if results.comp_details.general.functional %} <div class="row"><div class="col"><b>Functional </b></div><div class="col"> {{ results.comp_details.general.functional }}</div></div> {% endif %}
							<div class="row"><div class="col"><b>Requested SCF convergence on density </b></div><div class="col"> XXXXX </div></div>
							-->
						</div>
					{% endif %}
			</div>
		</div>
	{% endif %}

</div>

{% endcomment %}
    <script >
        $.urlParam = function(name){//fonction qui permet de récupérer l'url
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }
        $.ajax({
                    //connection au serveur
                   type: 'GET',
                   url: 'http://127.0.0.1:8000/QuChemPedIA/details_json/'+$.urlParam('id'),
                   processData: true,
                   dataType: 'json',
                   success: function(results) {//ce que l'on fait si on a le json
                        console.log("Success");
                        console.log(results);
                       }
                   });
    </script>


{% endblock %}
