{% extends "base_account.html" %}
{% block content %}
        <main role="main" class="col-md-9" id="dashboard_main">
        {% if not user.is_authenticated %}
            <div class="text-center text-danger">
                <div class="col-lg-12">
                    <p>
                    <svg class="feather feather-alert-triangle sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                         width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="56">
                        <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z">
                        </path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12" y2="17"></line>
                    </svg>
                    Warning ! you're going to upload a calculation as an anonymous user<br/>
                        by doing this you lost all right on your file and it wouldn't appear in your history !</p>
                </div>
            </div>
        {% endif %}
        {% if user.affiliation.strip|length <= 0  %}
            <div class="text-center text-danger">
                <div class="col-lg-12">
                    <p>
                    <svg class="feather feather-alert-triangle sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                         width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="56">
                        <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z">
                        </path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12" y2="17"></line>
                    </svg>
                Warning ! you're going to upload a calculation without setting your affiliation<br/>
                    by doing this your calculation would never be related to your laboratory !
                    </p>
                </div>
            </div>
        {% endif %}
        {% if user.number_of_upload_this_day >= 10  %}
            <div class="text-center text-info">
                <div class="col-lg-12">
                    <p>
                    <svg class="feather feather-info sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                         width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="656">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="16" x2="12" y2="12"></line>
                        <line x1="12" y1="8" x2="12" y2="8"></line>
                    </svg>
                        Did you know that if you want to import a lot of calcuation you could contact us ?<br/>
                        we will doing it for free by using our script that are muck quicker.
                    </p>
                </div>
            </div>
        {% endif %}
            <div id="div-dropzone">
              <!-- Génération de la dropzone -->
              <form id="myDropzone" action="{% url 'dashboard/import' %}" method="post" class="dropzone text-center">
                <div class="fallback">
                   <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}" />
                  <input name="file" type="file"  />
                </div>
              </form>
        </div>
        </main>
        <script>
           // using jQuery
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');
               $("#myDropzone").dropzone({
                url:"{% url 'dashboard/import' %}",
                maxFilesize: 5000,
                addRemoveLinks : true,
                dictDefaultMessage: "Drop your log files here or click to upload",
                dictResponseError: 'Error uploading file!',
                headers: {
                    'X-CSRFToken': csrftoken
                },
               success: function (file, response) {
                    location.reload();
                    this.removeFile(file); //todo discuter de quoi faire
                }
            });
    </script>
{% endblock %}