{% extends "base_account.html" %}
{% block content %}
        <main role="main" class="col-md-9 mt-4" id="edit_profil">
          <div class="">
            <form method="post" action="{% url 'dashboard/change_password' %}">
            {%  csrf_token %}
            {% for field in form_edit_password.visible_fields %}
                <div class="row form-group">
                    <div class="col-lg-12 text-danger">
                      {{ field.errors | safe }}
                    </div>
                    <div class="col-lg-3">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-lg-7">
                      {{ field }}
                        <div class="text-info">
                            {{ field.help_text | safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-success default-primary-color" type="submit">Update my password</button>
        </form>
          </div>
        </main>
        </div>
    </div>
{% endblock %}