{% extends "base.html" %}
{% block content %}

<h1>Result of your research</h1>
    {% if results|length >= 1 %}
    <div class="container">
      <h2> Results </h2>
        {% for key, value in results.items %}
        <div class="list-group">
          <div class="card">
            <div class="card-header list-group-item list-group-item-action">
              <a href="" class="">{{ value.0.iupac }}</a>
            </div>
            <div class="card-body">
              <table class='table borderless table-condensed table-sm tableformat'>
                <tbody>
                 <tr>
                   <td>Inchi : {{ value.0.InChi }}</td>
                   <td>Software : {{ value.0.software }}</td>
                   <td>Basis set name : {{ value.0.basis_set_name }}</td>
                   <td>Solvatation method : {{ value.0.solvatation_method }}</td>
                   <td>Charge : {{ value.0.charge }}</td>
                 </tr>
                 <tr>
                   <td>Cansmiles : {{ value.0.cansmiles }}</td>
                   <td>Theory : {{ value.0.theory }}</td>
                   <td>Basis set name : {{ value.0.basis_set_size }}</td>
                   <td>Solvent : {{ value.0.solvent }}</td>
                   <td>Multiplicity : {{ value.0.multiplicity }}</td>
                 </tr>
                 <tr>
                   <td>Job type : {{ value.0.job_type }}</td>
                   <td>Functionnal : {{ value.0.functionnal }}</td>
                   <td></td>
                   <td></td>
                   <td>Enfing energy : {{ value.0.ending_energy }}</td>
                 </tr>
               </tbody>
              </table>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
        {% else %}
            <p>no result</p>
    {% endif %}
    <p>la requête à mis : {{ temp }}</p>
{% endblock %}margin-left: : 5px;
