{% extends "base.html" %}
{% block content %}
    <form action="{% url 'query' %}" method="GET">
        {% csrf_token %}
        {{ query_form.as_table }}
        <input type="submit" value="Submit" />
    </form>
<h1>Result of your research</h1>
    {% if results|length >= 1 %}
        <table>
        <tr>
            <th>ID</th>
            <th>CID</th>
            <th>IUPAC</th>
            <th>SMILE</th>
            <th>InChi</th>
            <th>Formula</th>
        </tr>

        </table>
        {{ results }}
        {% else %}
            <p>no result</p>
    {% endif %}
    <p>la requête à mis : {{ temp }}</p>
{% endblock %}